{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}Email Sent{% endblock page_title %}

{% block content %}
    <div class="container py-5">
        <div class="alert alert-dark" role="alert">
            <h4 class="alert-heading">Password reset complete.</h4>
            <form action="" method="POST">
                {% csrf_token %}
                {{form | crispy}}
                <button class="btn btn-success" type="submit">Done</button>
            </form>
        </div>
        <a class="btn btn-primary" href="{% url 'home' %}">Back To Home</a>
    </div>
{% endblock content %}