{% extends '_base.html' %}

{% block page_title %}Home{% endblock page_title %}

{% block content %}
    <h1>Home Page</h1>
    <br>
    {% if user.is_authenticated %}
        <p><h1 class="text text-primary">Welcome, {{user.username}}</h1></p>
        <a class="btn btn-danger" href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a class="btn btn-success" href="{% url 'login' %}">Log In</a>
        <a class="btn btn-primary" href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
{% endblock content %}